{#{% extends './good_exlayout.html' %}#}
{% extends '../layout.html' %}
{% block css %}
    <link href="/static/css/good_index.css" rel="stylesheet" type="text/css">
    <style>
    .good{
        padding-top:20px;
        padding-left:20px;
    }
    .good-left{
        padding-left:20px;
        width:400px;
    }
    .good-right{
        padding-left:20px;
        width:900px;
    }
    .good-right .price{
        color:red;
    }

    .parameter2 li{
        float:left;
        list-style:none;
        width:260px;
        }
    .p-parameter{
        height:250px;
    }
    .avatar{
        width:30px;
        height:30px;
        border-radius: 50%;
    }
    .comment-list{
        border-bottom:1px solid #dddddd;
        margin-top:20px;
        list-style-type:none;
    }
    #J-detail-content{
        margin-left:50px;
    }
    #myTab{
        padding-left:20px;
        padding-top:20px;
        width:100%;
    }
    #detail{
        padding-top:20px;
    }
    .choose .dd{
        display:flex;
    }
    .choose .dd .item{
        margin-left:10px;
    }

    </style>


{% endblock %}
{% block menus %}
    {% include './detail_exlayout.html' %}
{% endblock %}
{% block content %}
{#    {% include '../navbar_content.html' %}#}
{##}
{#    {% include '../goodlist.html' %}#}
    <div class="good row">
        <div class="good-left">
            <img src="{{ good_detail.0.img_url }}">
        </div>
        <div class=" good-right flex-column">
            <div class="">
                <h5><a href="{{ goodlist.0.url }}">{{ goodlist.0.title }}</a></h5>
            </div>
            <div class="priceandbtn row" >
                <div class="btn-group col-12"  style="margin-left:15px;padding-left:0;" role="group" aria-label="Basic example">
                              <a  class="col-8" style="text-align:left;padding-left:0px;" ><text style="color:red;">￥{{ goodlist.0.price }}</text></a>

                              {% if login_flag == 0 %}
                                    <a  class="text-right col-2" style="padding-right:0px;" href="/collect/?goodid={{ goodlist.0.id }}&del=0&goto={{ goto }}&page={{ page }}&max_page={{ max_page }}"><img class="icon" src="/static/img/shoucang.png" >&ensp;{{ goodlist.0.collect_num }}</a>
                              {% else %}
                                  {% if login_flag == goodlist.0.userid %}
                                      <a  class="text-right col-2" style="padding-right:0px;" href="/collect/?goodid={{ goodlist.0.id }}&del=1&goto={{ goto }}&page={{ page }}&max_page={{ max_page }}"><img class="icon" src="/static/img/shoucang_1.png" >&ensp;{{ goodlist.0.collect_num }}</a>
                                  {% else %}
                                      <a  class="text-right col-2" style="padding-right:0px;" href="/collect/?goodid={{ goodlist.0.id }}&del=0&goto={{ goto }}&page={{ page }}&max_page={{ max_page }}"><img class="icon" src="/static/img/shoucang.png" >&ensp;{{ goodlist.0.collect_num }}</a>
                                  {% endif %}
                              {% endif %}
                              <a  class="text-right col-1" style="padding-right:0px;"><img class="icon" src="/static/img/pinglun.png" >&ensp;{{ goodlist.0.comment_num }}</a>

                          </div>
            </div>

            <div class="choose">
                    {% autoescape off %}
                        {{ good_detail.0.choose }}
                    {% endautoescape %}


            </div>

        </div>

    </div>
    <br/>
    <ul id="myTab" class="nav nav-tabs">
        <li class="nav-link active" id="tab-recommend"  >
            <a href="#recommend" data-toggle="tab" id="a-recommend">
                相似商品
            </a>
        </li>
        <li class="nav-link" id="tab-detail"  >
            <a href="#detail" data-toggle="tab" id="a-detail">
                 商品详情
            </a>
        </li>
        <li class="nav-link"  id="tab-comment"  ><a href="#comment" data-toggle="tab" id="a-comment">商品评论</a></li>

    </ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade  in active show" id="recommend">
        {% include '../goodlist.html' %}
    </div>
    <div class="tab-pane fade" id="comment">
        <ul>
            <li class="comment-list">
                <div class="form-group">

                <div class="row">
                    <input type="text" class="form-control"  id="text_comment" style="width:90%;">
                    <button type="submit" class="btn btn-primary " id="submitComment" >评论</button>
                </div>

                     <div class="row">
                         {% for tag in taglist.data %}
                              <div class="col-1 text-center btn" onclick="onClickChooseTag('{{ tag.tag }}')" style="margin-top:10px;margin-left:15px;border-radius:50%;color:blue;border:1px solid blue;font-size:13px;padding-left:0;padding-right:0;">{{tag.tag}}({{ tag.count }})</div>
                            {% endfor %}
                          </div>


                </div>
            </li>
            {% for comment in good_comments %}
                <li class="comment-list">
                    <img class="avatar" src="{{ comment.avatarurl }}">
                    <text>&emsp;{{ comment.name }}</text>
                    <p>{{ comment.comments }}</p>
                </li>
            {% endfor %}
        </ul>


    </div>
	<div class="tab-pane fade" id="detail">
		{% autoescape off %}
            <div class="p-parameter">{{ good_detail.0.detail }}</div>
            <br>
            <p>{{ good_detail.0.detail_pic }}</p>
        {% endautoescape %}
    </div>


</div>

{% endblock %}

{% block js %}
{#    <script src="/static/js/goodjs.js"></script>#}
    <script>
{#    tab的响应#}

        $('#myTab li a').click(function (e) {
            {#e.preventDefault();#}
            {#console.log(this.href)#}
            $(this).tab('show');

            if(this.id=="a-comment"){
                {#console.log(this.id)#}
                document.getElementById('tab-recommend').classList.remove('active')
                document.getElementById('tab-detail').classList.remove('active')
                document.getElementById('tab-comment').classList.add('active')
            }else if(this.id=="a-detail"){
                {#console.log(this.id)#}
                 document.getElementById('tab-recommend').classList.remove('active')
                document.getElementById('tab-comment').classList.remove('active')
                document.getElementById('tab-detail').classList.add('active')
            }else if(this.id=="a-recommend"){
                {#console.log(this.id)#}
                 document.getElementById('tab-recommend').classList.add('active')
                document.getElementById('tab-comment').classList.remove('active')
                document.getElementById('tab-detail').classList.remove('active')
            }

        });
        $("#submitComment").click(function(){
            var comment=$('#text_comment').val()
            console.log('{{ login_flag }}')
            var login_flag='{{ login_flag }}'
            if(login_flag=='0'){
                alert("请登录！")
            }else {
                $.ajax({
                    url: '/submitComment/',
                    data: {
                        'comment': comment

                    },
                    type: 'post',
                    dataType: 'json',
                    success: function (e) {
                        console.log(e)

                    },
                    fail: function (e) {
                        alert(e)

                    }, complete: function (XMLHttpRequest, textStatus) {
                        console.log('complete')
                    },
                    error: function (e) {
                        console.log('error', e)
                    }
                });
            }
        });



        function onClickChooseTag(tag){

            $('#text_comment').val($('#text_comment').val()+' '+tag+' ')
        }

        {#$(function () {#}
		{#    $('#myTab li:eq(0) a').tab('show');#}
        {##}



    </script>
{% endblock %}
