
<link href="/static/css/good.css" rel="stylesheet">
<link href="/static/bootstrap-select-1.13.9/dist/css/bootstrap-select.css" rel="stylesheet">



<div class="line" >
    <select id="tags" name="tags"  class="selectpicker show-tick form-control" multiple data-live-search="true" data-actions-box="true">
        {% for tag in freq_tag %}
            <option value="{{tag.tag}}">{{tag.tag}}({{tag.count}})</option>
        {% endfor %}

    </select>
    <button type="submit" class="btn btn-primary " style="width:185px;">筛选</button>
</div>


  <div class="line">
        <a href="{{ goto }}keyword=女装">&ensp;女装 </a> /
        <a href="{{ goto }}keyword=男装">男装</a> /
        <a href="{{ goto }}keyword=女装">童装 </a>
    </div>


