{#{% extends './good_exlayout.html' %}#}
{% extends '../layout.html' %}
{% block css %}
    <link href="/static/css/good_index.css" rel="stylesheet">

{% endblock %}
{% block menus %}
    {% include './good_exlayout.html' %}
{% endblock %}
{% block content %}
    {% include '../navbar_content.html' %}

    {% include '../goodlist.html' %}

{% endblock %}

{% block js %}
{#    <script>#}
{#        function gotodetail(url){#}
{#    alert(url);#}
{#    location.href=url;#}

{#    </script>#}
    <script type="text/javascript" src="/static/js/goodjs.js"></script>
    <script type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/bootstrap-select.js"></script>
<script>
$(window).on('load', function () {
     $('.selectpicker').selectpicker();

});
    // 获取值
    function getVal() {
        console.log($('#tags').val());
    }

    function getTags() {
    alert()
	console.log('tags')
<!--	var html;-->
<!--	$.ajax({     -->
<!--		url : "localhost:8000",-->
<!--		type : 'post',-->
<!--		dataType : 'json',-->
<!--		success : function(data) {-->
<!--			html += "<option value = ''> - - 请选择 - - </option>";-->
<!--			for (var i = 0; i < data.length; i++) {-->
<!--				html += "<option value=" + data[i].letterCd+ ">"-->
<!--				+ data[i].letterCd + "</option>";-->
<!--			}-->
<!--			$("#tags").html(html);-->
<!--		}-->
<!--	});-->

}



    </script>
{% endblock %}
