<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item" id="personal_recommend">
                   <a class="nav-link" href="/index/">个性化推荐</a>

              </li>
                <li class="nav-item"  id="freq">
                    <a class="nav-link" href="/freq/?keyword={{ keyword }}">热门</a>

              </li>

            </ul>
          </div>
</nav>

<script>
    {% if key == 1 %}
         document.getElementById('freq').classList.add('active');
    {% else %}
        document.getElementById('personal_recommend').classList.add('active');
    {% endif %}
</script>